@import "../../styles/_variables"

.Gallery
    height: calc( 100% -  50px)
    position: relative
    display: flex
    flex-direction: column
    background-color: #fff

    &-images
        overflow-y: scroll
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: center

    &-item
        margin: 10px
        align-self: center

    &-filters
        display: flex
        justify-content: space-around
        padding: 1em
        background-color: $bg-black
        color: #fff

        label
            align-self: center

        input[type=number]
            border-style: none
            padding: 3px
            margin: 0px 5px

        &__btn 
            background-color: $bg-purple
            color: #fff
            border-radius: 0px
            border-style: none
            padding: 10px
            font-weight: bold
            width: 100px
